@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-center m-auto w-50">
  <div class="card-header">
    Welcoming 
  </div>
  <div class="card-body">
    <h5 class="card-title">School Management System</h5>
    <p class="card-text">Welcome to our school, you can register yourself now!</p>
    <a asp-controller="Students" asp-action="Create" class="btn btn-primary">Register</a>
  </div>
  <div class="card-footer text-body-secondary">
    Abullah Dalaty
  </div>
</div>